@using GameReviewSite.Core.Models
@model IEnumerable<ForumMessageViewModel>
<!-- Page section -->
<section class="page-section community-page set-bg" data-setbg="https://www.freeunibg.eu/wp-content/uploads/2022/03/Add-a-free-forum-in-Weebly.gif">
	<div class="community-warp spad">
		<div class="container">
			<div class="row">
				<div class="col-md-2 text-lg-right">
					<button type="button" class="nav-link btn btn-primary btn-block text-white">
						<a asp-area="" asp-controller="ForumMessage" asp-action="AddMessage">Add Message</a>
					</button>
				</div>
			</div>
			<br></br>
			<ul class="community-post-list">
				@foreach (var item in Model)
				{
					<li>
						<div class="community-post">
							<div class="post-content">
								<h5>@item.UserName<span>posted an update</span></h5>
								<div class="post-date">@item.Date</div>
								<p>@item.Description</p>
							</div>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</section>
<!-- Page section end -->